USE [master]
GO
/****** Object:  Database [dbCore]    Script Date: 3/27/2018 11:49:27 PM ******/
CREATE DATABASE [dbCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dbCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbCore]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/27/2018 11:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Phone] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [Phone]) VALUES (5, N'Shashangka', N'shashangka@gmail.com', N'01929515253')
INSERT [dbo].[User] ([Id], [Name], [Email], [Phone]) VALUES (6, N'Shamim Uddin', N'shamim@gmail.com', N'03456456')
INSERT [dbo].[User] ([Id], [Name], [Email], [Phone]) VALUES (7, N'Mahfuz Bappy', N'mahfuz@gmail.com', N'561532132')
SET IDENTITY_INSERT [dbo].[User] OFF
USE [master]
GO
