<ul class="nav">
    <li class="active">
        <a ui-sref="dashboard">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a ui-sref="user">
            <i class="ti-user"></i>
            <p>User Profiles</p>
        </a>
    </li>
    <li>
        <a ui-sref="about">
            <i class="ti-export"></i>
            <p>About</p>
        </a>
    </li>

    <li class="active-pro">
        <a href="upgrade.html">
            <i class="ti-export"></i>
            <p>Upgrade to PRO</p>
        </a>
    </li>
</ul>